.inner {
    max-width: 1200px;
    margin: 0 auto;
}
.wrap {
    width: 100%;
}
.title {
    font-size: 16px;
    font-weight: bold;
}




/* SEARCH BAR */
.search-row{
    padding: 20px;
}

/* recent searches */

/* intellisense */





/* MAIN CONTENT */
.mainContent{
    border: 1px solid #c2c2c2;
    padding: 10px;
}

.mainContent .moduleTitle{
    text-decoration: underline;
}